<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__col">
                <p class="footer__col-title">Меню</p>

                <ul class="site-map">
                    <li>
                        <a href="product-card1.html">Готовый бизнес</a>
                    </li>

                    <li>
                        <a href="product-card2.html">Аренда</a>
                    </li>

                    <li>
                        <a href="product-card3.html">Продажа</a>
                    </li>

                    <li>
                        <a href="about.html">О компании</a>
                    </li>

                    <li>
                        <a href="partners.html">Партнеры</a>
                    </li>

                    <li>
                        <a href="blog.html">Блог</a>
                    </li>

                    <li>
                        <a href="contacts.html">Контакты</a>
                    </li>

                </ul>

            </div><!-- footer__col -->

            <div class="footer__col">
                <p class="footer__col-title">Избранное</p>

                <ul class="site-map">
                    <li>
                        <a href="#">Большая Бронная, 25с3</a>
                    </li>

                    <li>
                        <a href="#">Малая Никитская, 8/1</a>
                    </li>

                    <li>
                        <a href="#">Звенигородское ш, 3Ас1</a>
                    </li>

                    <li>
                        <a href="#">Ленинградский пр-т, 62с26</a>
                    </li>

                    <li>
                        <a href="#">Новослободская, 20</a>
                    </li>

                    <li>
                        <a href="#">Большая Садовая, 6с2</a>
                    </li>

                    <li>
                        <a href="#">Еще 2</a>
                    </li>

                </ul>

            </div><!-- footer__col -->

            <div class="footer__col">
                <p class="footer__col-title">Связаться</p>

                <div class="footer__contacts">
                    <div class="footer__contact">
                        <a href="tel:+74952562908" class="footer__contact-link">+7 495 256 29 08</a>
                    </div><!-- footer__contact -->

                    <div class="footer__contact">
                        <a href="mailto:info@ec.ru" class="footer__contact-link">info@ec.ru</a>
                    </div><!-- footer__contact -->

                </div><!-- footer__contacts -->

            </div><!-- footer__col -->

            <div class="footer__col">
                <p class="footer__col-title">Соцсети</p>

                <div class="social">
                    <a href="#" class="social__link">
                        <span>Telegram</span>
                        <svg class="svg-icon icon-social-tg">
                            <use xlink:href="images/sprite.svg#icon-social-tg"></use>
                        </svg>
                    </a>

                    <a href="#" class="social__link">
                        <span>WhatsApp</span>
                        <svg class="svg-icon icon-social-wapp">
                            <use xlink:href="images/sprite.svg#icon-social-wapp"></use>
                        </svg>
                    </a>

                </div><!-- social -->

            </div><!-- footer__col -->

            <span class="btn btn-secondary scroll-top">
                <svg class="svg-icon icon-scroll-top">
                    <use xlink:href="images/sprite.svg#icon-scroll-top"></use>
                </svg>
            </span>

        </div><!-- footer__top -->

    </div><!-- container -->

    <i class="footer__descor"></i>

    <div class="container">
        <div class="footer__bottom row">
            <div class="col-md-6">
                <a href="#" class="footer__logo">
                    <img src="images/logo-footer.svg" alt="Логотип">
                </a>

            </div><!-- col-md-6 -->

            <div class="col-md-6">
                <p class="footer__desc">
                    © ООО «Эстейт-капитал», 2025 <br>
                    Россия, Московская обл., Москва, 123022 Звенигородское ш. 18/20, стр. 1
                </p>

                <p class="footer__desc">
                    Вся информация, представленная на данном сайте, носит
                    исключительно информационный характер, не является
                    офертой или публичной офертой согласно ст. 435, п. 2 ст. 437 ГК РФ.
                </p>

                <div class="footer__spacer">
                    <div class="footer__links">
                        <a href="privacy-policy.html" class="footer__link">Политика конфиденциальности</a>
                        <a href="privacy-policy.html" class="footer__link">Пользовательское соглашение</a>
                        <a href="privacy-policy.html" class="footer__link">Согласие на рассылку</a>
                    </div><!-- footer__links -->

                    <a href="#" class="dev">
                        <img src="images/logo-dev.svg" alt="Логотип">
                    </a>

                </div><!-- footer__spacer -->

            </div><!-- col-md-6 -->

        </div><!-- footer__bottom -->

    </div><!-- container -->

</footer>