<header class="header">
  <div class="container">
    <ul class="nav mobile-none">
      <li class="nav__item">
        <a href="#" class="nav__link">Готовый бизнес</a>

        <div class="drop">
          <div class="container">
            <div class="drop__header">
              <span class="drop__title">Вас может заинтересовать</span>
              <a href="#" class="btn btn-light drop__all">Все предложения</a>
            </div><!-- drop__header -->

            <div class="objects__slider">
              <div class="objects__slides swiper-wrapper">
                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

              </div><!-- objects__slides -->

            </div><!-- objects__slider -->

          </div><!-- container -->

        </div><!-- drop -->

      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">Аренда</a>

        <div class="drop">
          <div class="container">
            <div class="drop__header">
              <span class="drop__title">Вас может заинтересовать</span>
              <a href="#" class="btn btn-light drop__all">Все предложения</a>
            </div><!-- drop__header -->

            <div class="objects__slider">
              <div class="objects__slides swiper-wrapper">
                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

              </div><!-- objects__slides -->

            </div><!-- objects__slider -->

          </div><!-- container -->

        </div><!-- drop -->

      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">Продажа</a>

        <div class="drop">
          <div class="container">
            <div class="drop__header">
              <span class="drop__title">Вас может заинтересовать</span>
              <a href="#" class="btn btn-light drop__all">Все предложения</a>
            </div><!-- drop__header -->

            <div class="objects__slider">
              <div class="objects__slides swiper-wrapper">
                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

                <div class="objects__slide swiper-slide">
                  <div class="objects__item objects__item_hr">
                    <div class="objects__item-header">
                      <a href="#" class="objects__item-photo">
                        <img class="photo-full-size" src="images/objects/list/item-1.jpg" alt="Большая Бронная, 25с3">
                      </a>

                      <i class="objects__item-premium"></i>

                    </div><!-- objects__item-header -->

                    <div class="objects__item-body">
                      <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                      <div class="objects__item-params">
                        <div class="objects__item-param">
                          <svg class="svg-icon icon-metro">
                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                          </svg>
                          <span>Пушкинская, Тверская, Чеховская</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time">
                            </use>
                          </svg>
                          <span>3 мин</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <svg class="svg-icon icon-size">
                            <use xlink:href="images/sprite.svg#icon-size"></use>
                          </svg>
                          <span>46,5 м2</span>
                        </div><!-- objects__item-param -->

                        <div class="objects__item-param">
                          <span>Арендатор: THE KAS</span>
                        </div><!-- objects__item-param -->

                      </div><!-- objects__item-params -->

                      <div class="object__item-footer">
                        <span class="objects__item-price">190 350 000 ₽</span>
                        <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                      </div><!-- object__item-footer -->

                    </div><!-- objects__item-body -->

                  </div><!-- objects__item -->

                </div><!-- objects__slide -->

              </div><!-- objects__slides -->

            </div><!-- objects__slider -->

          </div><!-- container -->

        </div><!-- drop -->

      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">О компании</a>

        <div class="drop">
          <div class="container">
            <div class="drop__spacer">
              <div class="drop__spacer-left">
                <ul class="drop__nav">
                  <li>
                    <a href="#">О компании</a>
                  </li>

                  <li>
                    <a href="#">Партнеры</a>
                  </li>

                  <li>
                    <a href="#">Блог</a>
                  </li>

                </ul>

              </div><!-- drop__spacer-left -->

              <div class="blog__drop-slider">
                <div class="blog__drop-slides swiper-wrapper">
                  <div class="blog__drop-slide swiper-slide">
                    <div class="blog__item blog__item_hr">
                      <a href="#" class="blog__item-photo">
                        <img class="photo-full-size" src="images/blog/item-1.jpg" alt="Фото">
                      </a>

                      <div class="blog__item-body">
                        <a href="#" class="blog__item-title">
                          Renaissance Development закрыла сделку
                          продажи Neva Towers
                        </a>

                        <span class="blog__item-date">29 июля 2025 г.</span>

                      </div><!-- blog__item-body -->

                    </div><!-- blog__item -->

                  </div><!-- blog__drop-slide -->

                  <div class="blog__drop-slide swiper-slide">
                    <div class="blog__item blog__item_hr">
                      <a href="#" class="blog__item-photo">
                        <img class="photo-full-size" src="images/blog/item-1.jpg" alt="Фото">
                      </a>

                      <div class="blog__item-body">
                        <a href="#" class="blog__item-title">
                          Renaissance Development закрыла сделку
                          продажи Neva Towers
                        </a>

                        <span class="blog__item-date">29 июля 2025 г.</span>

                      </div><!-- blog__item-body -->

                    </div><!-- blog__item -->

                  </div><!-- blog__drop-slide -->

                  <div class="blog__drop-slide swiper-slide">
                    <div class="blog__item blog__item_hr">
                      <a href="#" class="blog__item-photo">
                        <img class="photo-full-size" src="images/blog/item-1.jpg" alt="Фото">
                      </a>

                      <div class="blog__item-body">
                        <a href="#" class="blog__item-title">
                          Renaissance Development закрыла сделку
                          продажи Neva Towers
                        </a>

                        <span class="blog__item-date">29 июля 2025 г.</span>

                      </div><!-- blog__item-body -->

                    </div><!-- blog__item -->

                  </div><!-- blog__drop-slide -->

                </div><!-- blog__drop-slides -->

              </div><!-- blog__drop-slider -->

            </div><!-- drop__spacer -->

          </div><!-- container -->

        </div><!-- drop -->

      </li>

      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>

    </ul>

    <a href="#" class="logo">
      <img src="images/logo.svg" alt="Логотип">
    </a>

    <div class="header__right">
      <a href="tel:+74952562908" class="header__phone">+7 495 256 29 08</a>

      <div class="header__control mobile-none">
        <a href="#" class="header__control-link search-open-btn">
          <svg class="svg-icon icon-search pos-center">
            <use xlink:href="images/sprite.svg#icon-search"></use>
          </svg>
        </a>

        <a href="#" class="header__control-link">
          <span class="header__control-count">2</span>
          <svg class="svg-icon icon-favorites pos-center">
            <use xlink:href="images/sprite.svg#icon-favorites"></use>
          </svg>
        </a>

      </div><!-- header__control -->

      <a href="#" class="btn btn-primary header__callback mobile-none js-popup-link" data-href=".popup-callback">
        <span>Обратный звонок</span>
      </a>

    </div><!-- header__right -->

  </div><!-- container -->

</header>