<div class="menu">
    <ul class="menu__list">
        <li>
            <a href="#">Готовый бизнес</a>
        </li>

        <li>
            <a href="#">Аренда</a>
        </li>

        <li>
            <a href="#">Продажа</a>
        </li>

        <li>
            <a href="#">О компании</a>
        </li>

        <li>
            <a href="#">Партнеры</a>
        </li>

        <li>
            <a href="#">Блог</a>
        </li>

        <li>
            <a href="#">Контакты</a>
        </li>

    </ul>

    <div class="app__wrap">
        <div class="app__text">
            <p class="app__title">
                Запись на встречу
            </p>

            <p class="app__desc">
                Заполните форму для проведения <br> встречи в удобном формате
            </p>

        </div><!-- app__text -->

        <a href="#" class="btn btn-primary">Записаться</a>

    </div><!-- app__wrap -->

    <a href="#" class="btn btn-primary js-popup-link" data-href=".popup-callback">
        <span>Обратный звонок</span>
    </a>

</div><!-- menu -->