<div class="scroll-nav mobile-block">
    <div class="scroll-nav__list">
        <a href="#" class="scroll-nav__link search-open-btn">
            <svg class="svg-icon icon-scroll-nav-1">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-1"></use>
            </svg>
            <span>Поиск</span>
        </a>

        <a href="#" class="scroll-nav__link">
            <svg class="svg-icon icon-scroll-nav-2">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-2"></use>
            </svg>
            <span>Объекты</span>
        </a>

        <a href="#" class="scroll-nav__phone js-popup-link" data-href=".popup-callback">
            <svg class="svg-icon icon-scroll-nav-3 pos-center">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-3"></use>
            </svg>
        </a>

        <a href="#" class="scroll-nav__link">
            <svg class="svg-icon icon-scroll-nav-4">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-4"></use>
            </svg>
            <span>Избранное</span>
        </a>

        <a href="#" class="scroll-nav__link menu-open-btn">
            <svg class="svg-icon icon-scroll-nav-5">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-5"></use>
            </svg>
            <svg class="svg-icon icon-scroll-nav-close">
                <use xlink:href="images/sprite.svg#icon-scroll-nav-close"></use>
            </svg>
            <span>Меню</span>
        </a>

    </div><!-- scroll-nav__list -->

</div><!-- scroll-nav -->