<div class="search">
    <div class="container">
        <form action=".php" class="search__form">
            <input type="text" name="search" class="search__field" placeholder="Начните вводить запрос">
            <button class="search__reset" type="reset">
                <svg class="svg-icon icon-reset pos-center">
                    <use xlink:href="images/sprite.svg#icon-reset"></use>
                </svg>
            </button>

        </form>

        <div class="viewed">
            <div class="viewed__top">
                <span class="viewed__title">Вы смотрели</span>
                <span class="viewed__clear">Очистить</span>
            </div><!-- viewed__top -->

            <div class="objects__slider">
                <div class="objects__slides swiper-wrapper">
                    <div class="objects__slide swiper-slide">
                        <div class="objects__item objects__item_hr">
                            <div class="objects__item-header">
                                <a href="#" class="objects__item-photo">
                                    <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                        alt="Большая Бронная, 25с3">
                                </a>

                                <span class="objects__item-size">
                                    <svg class="svg-icon icon-size">
                                        <use xlink:href="images/sprite.svg#icon-size"></use>
                                    </svg>
                                    <span>46,5 м<sup>2</sup></span>
                                </span>

                                <i class="objects__item-premium"></i>

                            </div><!-- objects__item-header -->

                            <div class="objects__item-body">
                                <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                <div class="objects__item-params">
                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-metro">
                                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                                        </svg>
                                        <span>Пушкинская, Тверская, Чеховская</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-foot-time">
                                            <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                        </svg>
                                        <span>3 мин</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-size">
                                            <use xlink:href="images/sprite.svg#icon-size"></use>
                                        </svg>
                                        <span>46,5 м2</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <span>Арендатор: THE KAS</span>
                                    </div><!-- objects__item-param -->

                                </div><!-- objects__item-params -->

                                <div class="object__item-footer">
                                    <span class="objects__item-price">190 350 000 ₽</span>
                                    <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                </div><!-- object__item-footer -->

                            </div><!-- objects__item-body -->

                        </div><!-- objects__item -->

                    </div><!-- objects__slide -->

                    <div class="objects__slide swiper-slide">
                        <div class="objects__item objects__item_hr">
                            <div class="objects__item-header">
                                <a href="#" class="objects__item-photo">
                                    <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                        alt="Большая Бронная, 25с3">
                                </a>

                                <span class="objects__item-size">
                                    <svg class="svg-icon icon-size">
                                        <use xlink:href="images/sprite.svg#icon-size"></use>
                                    </svg>
                                    <span>46,5 м<sup>2</sup></span>
                                </span>

                                <i class="objects__item-premium"></i>

                            </div><!-- objects__item-header -->

                            <div class="objects__item-body">
                                <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                <div class="objects__item-params">
                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-metro">
                                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                                        </svg>
                                        <span>Пушкинская, Тверская, Чеховская</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-foot-time">
                                            <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                        </svg>
                                        <span>3 мин</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-size">
                                            <use xlink:href="images/sprite.svg#icon-size"></use>
                                        </svg>
                                        <span>46,5 м2</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <span>Арендатор: THE KAS</span>
                                    </div><!-- objects__item-param -->

                                </div><!-- objects__item-params -->

                                <div class="object__item-footer">
                                    <span class="objects__item-price">190 350 000 ₽</span>
                                    <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                </div><!-- object__item-footer -->

                            </div><!-- objects__item-body -->

                        </div><!-- objects__item -->

                    </div><!-- objects__slide -->

                    <div class="objects__slide swiper-slide">
                        <div class="objects__item objects__item_hr">
                            <div class="objects__item-header">
                                <a href="#" class="objects__item-photo">
                                    <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                        alt="Большая Бронная, 25с3">
                                </a>

                                <span class="objects__item-size">
                                    <svg class="svg-icon icon-size">
                                        <use xlink:href="images/sprite.svg#icon-size"></use>
                                    </svg>
                                    <span>46,5 м<sup>2</sup></span>
                                </span>

                                <i class="objects__item-premium"></i>

                            </div><!-- objects__item-header -->

                            <div class="objects__item-body">
                                <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                <div class="objects__item-params">
                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-metro">
                                            <use xlink:href="images/sprite.svg#icon-metro"></use>
                                        </svg>
                                        <span>Пушкинская, Тверская, Чеховская</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-foot-time">
                                            <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                        </svg>
                                        <span>3 мин</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <svg class="svg-icon icon-size">
                                            <use xlink:href="images/sprite.svg#icon-size"></use>
                                        </svg>
                                        <span>46,5 м2</span>
                                    </div><!-- objects__item-param -->

                                    <div class="objects__item-param">
                                        <span>Арендатор: THE KAS</span>
                                    </div><!-- objects__item-param -->

                                </div><!-- objects__item-params -->

                                <div class="object__item-footer">
                                    <span class="objects__item-price">190 350 000 ₽</span>
                                    <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                </div><!-- object__item-footer -->

                            </div><!-- objects__item-body -->

                        </div><!-- objects__item -->

                    </div><!-- objects__slide -->

                </div><!-- objects__slides -->

            </div><!-- objects__slider -->

        </div><!-- viewed -->

    </div><!-- container -->

</div><!-- search -->