<!DOCTYPE html>
<html lang="ru">

<head>
    <title>О нас</title>
    {% include 'blocks/head.njk' %}
</head>

<body>
    <section class="page-wrap">
        {% include 'blocks/header.njk' %}

        <section class="page container">
            <div class="pager">
                <a href="#">Главная</a>
                <i></i>
                <span>О компании</span>
            </div><!-- pager -->

            <h1>
                О компании
            </h1>

            <div class="about">
                <div class="about__video">
                    <span class="btn btn-light about__video-play">
                        <svg class="svg-icon icon-play">
                            <use xlink:href="images/sprite.svg#icon-play"></use>
                        </svg>
                        <span>Смотреть видео</span>
                    </span>

                </div><!-- about__video -->

                <div class="row">
                    <div class="col-lg-6">
                        <h3>
                            Наша миссия — формирование портфеля недвижимости с
                            высоким потенциалом пассивного дохода
                        </h3>

                    </div><!-- col-lg-6 -->

                    <div class="col-lg-6">
                        <p>
                            Estate Capital — это стабильность, экспертный подход и
                            гарантированный результат. Компания формирует портфель
                            исключительно из ликвидных объектов в премиальных
                            локациях мегаполисов, используя строгие критерии отбора и
                            глубокое понимание рыночной динамики.
                        </p>

                        <p>
                            Каждый актив проходит комплексную оценку по параметрам
                            локации, трафика, инфраструктуры и доходности.
                            Полный цикл сопровождения инвестиций — от юридической
                            экспертизы до управления рисками — делает предложение
                            оптимальным решением для взыскательных инвесторов.
                        </p>

                    </div><!-- col-lg-6 -->

                </div><!-- row -->

            </div><!-- about -->

        </section><!-- page -->

        <section class="values container">
            <h2>
                Ценности компании
            </h2>

            <div class="values__slider">
                <div class="values__list swiper-wrapper">
                    <div class="values__item values__item_blue swiper-slide">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="values__item-title">Надежность</p>
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <p class="values__item-desc">
                                    Мы строим долгосрочные отношения с клиентами, обеспечивая
                                    поддержку и после сделки. Этот подход создает атмосферу
                                    доверия и дает вам уверенность в безопасности ваших инвестиций.
                                </p>

                            </div><!-- col-md-6 -->

                        </div><!-- row -->

                    </div><!-- values__item -->

                    <div class="values__item values__item_dark-blue swiper-slide">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="values__item-title">Профессионализм</p>
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <p class="values__item-desc">
                                    Наши решения взвешенны и основаны на глубоком анализе
                                    рынка, юридической экспертизе и практическом опыте.
                                    Это позволяет предлагать наиболее эффективные и
                                    проверенные варианты.
                                </p>

                            </div><!-- col-md-6 -->

                        </div><!-- row -->

                    </div><!-- values__item -->

                    <div class="values__item values__item_gray swiper-slide">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="values__item-title">Уважение</p>
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <p class="values__item-desc">
                                    Мы ведем диалог на принципах открытости, корректности
                                    и честной конкуренции. Этот подход гарантирует
                                    равноправное и конструктивное партнерство, где
                                    учитываются интересы каждой из сторон.
                                </p>

                            </div><!-- col-md-6 -->

                        </div><!-- row -->

                    </div><!-- values__item -->

                    <div class="values__item values__item_white swiper-slide">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="values__item-title">Качество</p>
                            </div><!-- col-md-6 -->

                            <div class="col-md-6">
                                <p class="values__item-desc">
                                    Наш портфель включает объекты с высоким инвестиционным
                                    потенциалом и отличным техническим состоянием. Мы
                                    гарантируем, что каждый объект соответствует
                                    строгим критериям надежности.
                                </p>

                            </div><!-- col-md-6 -->

                        </div><!-- row -->

                    </div><!-- values__item -->

                </div><!-- values__list -->

                <div class="values__pagination"></div>

            </div><!-- values__slider -->

        </section><!-- values -->

        <section class="banner container">
            <div class="banner__wrap banner__wrap_blue">
                <div class="banner__content">
                    <span class="banner__count">23 объекта</span>
                    <h3>
                        Готовый арендный бизнес
                    </h3>

                    <p>
                        Вариант помещения с бизнес-планом и продуманной
                        инвестиционной стратегией под ваши нужды. Поможем
                        с выбором места и открытием.
                    </p>

                    <a href="#" class="btn btn-light">
                        <span>Перейти</span>
                    </a>

                </div><!-- banner__content -->

                <img src="images/banners/banner-2.jpg" alt="Баннер" class="banner__bg">

            </div><!-- banner__wrap -->

        </section><!-- banner -->

        <section class="work container">
            <h2>
                С кем мы работаем
            </h2>

            <div class="work__list row">
                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Инвесторы
                        </h3>

                        <p>
                            Предлагаем проверенные объекты с высоким доходом.
                            Гарантируем безопасность сделок и профессиональное
                            управление вашими активами для стабильной прибыли.
                        </p>

                        <span class="work__item-number">01</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Арендаторы
                        </h3>

                        <p>
                            Поможем найти идеальное помещение для вашего бизнеса.
                            Предлагаем прозрачные условия аренды и оперативную
                            поддержку по всем вопросам.
                        </p>

                        <span class="work__item-number">02</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Консультанты и брокеры
                        </h3>

                        <p>
                            Строим долгосрочное сотрудничество на взаимном уважении.
                            Обеспечим полной информацией по объектам и прозрачными
                            условиями работы.
                        </p>

                        <span class="work__item-number">03</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

            </div><!-- work__list -->

        </section><!-- work -->

        <section class="partners">
            <div class="container">
                <div class="block-top">
                    <h2>
                        Наши партнеры
                    </h2>

                    <div class="block-top__right">
                        <a href="#" class="btn btn-primary partners__all-btn">
                            <span>Все партнеры</span>
                        </a>

                    </div><!-- block-top__right -->

                </div><!-- block-top -->

            </div><!-- container -->

            <div class="partners__slider">
                <div class="partners__slides swiper-wrapper">
                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-1.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-2.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-3.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-4.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-5.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-1.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-2.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-3.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-4.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-5.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                </div><!-- partners__slides -->

            </div><!-- partners__slider -->

        </section><!-- partners -->

        <section class="blog">
            <div class="container">
                <div class="block-top">
                    <h2>
                        Блог
                    </h2>

                    <div class="block-top__right">
                        <a href="#" class="btn btn-light">
                            <span>Читайте в Telegram</span>
                            <svg class="svg-icon icon-telegram">
                                <use xlink:href="images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>

                        <a href="#" class="btn btn-primary">
                            <span>Все публикации</span>
                        </a>

                    </div><!-- block-top__right -->

                </div><!-- block-top -->

                <div class="blog__slider">
                    <div class="blog__list row">
                        <div class="col-lg-3 blog__slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-1.jpg" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Renaissance Development закрыла сделку
                                        продажи Neva Towers
                                    </a>

                                    <span class="blog__item-date">29 июля 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->

                        </div><!-- col-3 -->

                        <div class="col-lg-3 blog__slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-2.jpg" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Проект ресторатора Александра Оганезова
                                        продолжает захватывать Москву
                                    </a>

                                    <span class="blog__item-date">1 июля 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->

                        </div><!-- col-3 -->

                        <div class="col-lg-3 blog__slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-3.jpg" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Бизнес-центр из черного кирпича возведут на
                                        2-ой Звенигородской улице в Москве
                                    </a>

                                    <span class="blog__item-date">20 июня 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->

                        </div><!-- col-3 -->

                        <div class="col-lg-3 blog__slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-4.jpg" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Нечеловечески вкусный кофе
                                    </a>

                                    <span class="blog__item-date">19 июня 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->

                        </div><!-- col-3 -->

                    </div><!-- blog__list -->

                </div><!-- blog__slider -->

            </div><!-- container -->

        </section><!-- blog -->

        <section class="app container">
            <div class="app__wrap">
                <div class="app__text">
                    <p class="app__title">
                        Запись на встречу
                    </p>

                    <p class="app__desc">
                        Заполните форму для проведения встречи в удобном формате
                    </p>

                </div><!-- app__text -->

                <a href="#" class="btn btn-primary">Записаться</a>

            </div><!-- app__wrap -->

        </section><!-- app -->

        <section class="faq container">
            <h2>
                Часто задаваемые вопросы
            </h2>

            <div class="faq__list">
                <div class="faq__item opened">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Какая схема сделки при продаже объекта?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Есть ли возможность оформить ипотеку?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Вы рассматриваете выкуп помещений от собственника?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Актуальная недвижимость располагается только в Москве?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Как проходит процесс аренды помещения?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

            </div><!-- faq__list -->

        </section><!-- faq -->

        <section class="subscribe container">
            <form action=".php" class="subscribe__form subscribe__form_black">
                <div class="row">
                    <div class="subscribe__left col-lg-6">
                        <p class="subscribe__title">Подпишитесь на наши обновления</p>
                        <p class="subscribe__desc">Только важная информация, без спама</p>
                    </div><!-- subscribe__left -->

                    <div class="subscribe__right col-lg-6">
                        <div class="subscribe__fileds">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваше имя">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваш email">
                            <button class="btn btn-light subscribe__btn">
                                <span>Отправить</span>
                                <svg class="svg-icon icon-subscribe-arrow">
                                    <use xlink:href="images/sprite.svg#icon-subscribe-arrow"></use>
                                </svg>
                            </button>

                        </div><!-- subscribe__fileds -->

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на обработку
                                <a href="#">персональных данных</a>
                            </span>

                        </label>

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на рекламно-информационные рассылки
                            </span>

                        </label>

                    </div><!-- subscribe__right -->

                </div><!-- row -->

            </form>

        </section><!-- subscribe -->

        <section class="contacts container">
            <div class="contacts__wrap">
                <div id="map"></div>

                <a href="#" class="btn btn-primary map-link">
                    <span>Открыть на Яндекс Картах</span>
                    <svg class="svg-icon icon-ya-map">
                        <use xlink:href="images/sprite.svg#icon-ya-map"></use>
                    </svg>
                </a>

            </div><!-- contacts__wrap -->

            <div class="contacts__list">
                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-address pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-address"></use>
                        </svg>
                    </span>

                    <span class="contacts__item-desc">
                        123022 Звенигородское ш. 18/20, стр. 1
                    </span>

                    <a href="#" class="contacts__item-blank" target="_blank">
                        <svg class="svg-icon icon-blank-link">
                            <use xlink:href="images/sprite.svg#icon-blank-link"></use>
                        </svg>
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-phone pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-phone"></use>
                        </svg>
                    </span>

                    <a href="tel:+74952562908" class="contacts__item-desc">
                        +7 495 256-29-08
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-mail pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-mail"></use>
                        </svg>
                    </span>

                    <a href="mailto:info@ec.ru" class="contacts__item-desc">
                        info@ec.ru
                    </a>

                </div><!-- contacts__item -->

            </div><!-- contacts__list -->

        </section><!-- contacts -->

        {% include 'blocks/footer.njk' %}

        <div class="scroll-nav mobile-block">
            <div class="scroll-nav__list">
                <a href="#" class="scroll-nav__link search-open-btn">
                    <svg class="svg-icon icon-scroll-nav-1">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-1"></use>
                    </svg>
                    <span>Поиск</span>
                </a>

                <a href="#" class="scroll-nav__link">
                    <svg class="svg-icon icon-scroll-nav-2">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-2"></use>
                    </svg>
                    <span>Объекты</span>
                </a>

                <a href="#" class="scroll-nav__phone js-popup-link" data-href=".popup-callback">
                    <svg class="svg-icon icon-scroll-nav-3 pos-center">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-3"></use>
                    </svg>
                </a>

                <a href="#" class="scroll-nav__link">
                    <svg class="svg-icon icon-scroll-nav-4">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-4"></use>
                    </svg>
                    <span>Избранное</span>
                </a>

                <a href="#" class="scroll-nav__link menu-open-btn">
                    <svg class="svg-icon icon-scroll-nav-5">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-5"></use>
                    </svg>
                    <svg class="svg-icon icon-scroll-nav-close">
                        <use xlink:href="images/sprite.svg#icon-scroll-nav-close"></use>
                    </svg>
                    <span>Меню</span>
                </a>

            </div><!-- scroll-nav__list -->

        </div><!-- scroll-nav -->

        <div class="popup popup-callback">
            <div class="popup__form-wrap">
                <p class="popup__title">
                    Свяжитесь с нами
                </p>

                <p class="popup__desc">
                    Мы перезвоним в течении 30 минут
                </p>

                <form action=".php" class="form">
                    <label class="form__label">
                        <span class="form__label-title">Ваше имя</span>
                        <input type="text" name="name" class="form__field" placeholder="Введите имя">
                    </label>

                    <label class="form__label error">
                        <span class="form__label-title">Номер телефона *</span>
                        <input type="text" name="phone" class="form__field" placeholder="+7 XXX XXX-XX-XX">
                    </label>

                    <label class="form__label">
                        <span class="form__label-title">Сообщение</span>
                        <textarea name="message" class="form__field form__field_text"
                            placeholder="Введите сообщение"></textarea>
                    </label>

                    <button class="btn btn-secondary form__btn">
                        <span>Отправить</span>
                    </button>

                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkbox__btn">
                            <svg class="svg-icon icon-check">
                                <use xlink:href="images/sprite.svg#icon-check"></use>
                            </svg>
                        </span>

                        <span class="checkbox__desc">
                            Я даю <a href="#">согласие</a> на обработку
                            <a href="#">персональных данных</a>
                        </span>

                    </label>

                    <label class="checkbox error">
                        <input type="checkbox">
                        <span class="checkbox__btn">
                            <svg class="svg-icon icon-check">
                                <use xlink:href="images/sprite.svg#icon-check"></use>
                            </svg>
                        </span>

                        <span class="checkbox__desc">
                            Я даю <a href="#">согласие</a> на рекламно-информационные рассылки
                        </span>

                    </label>

                </form>

            </div><!-- popup__form-wrap -->

            <div class="popup__thank">
                <span class="popup__thank-icon">
                    <svg class="svg-icon icon-thank pos-center">
                        <use xlink:href="images/sprite.svg#icon-thank"></use>
                    </svg>
                </span>

                <p class="popup__title">
                    Свяжитесь с нами
                </p>

                <p class="popup__desc">
                    Мы перезвоним в течении 30 минут
                </p>

            </div><!-- popup__thank -->

            <span class="btn btn-primary popup__close">
                <span>Закрыть</span>
            </span>

        </div><!-- popup -->

        <div class="search">
            <div class="container">
                <form action=".php" class="search__form">
                    <input type="text" name="search" class="search__field" placeholder="Начните вводить запрос">
                    <button class="search__reset" type="reset">
                        <svg class="svg-icon icon-reset pos-center">
                            <use xlink:href="images/sprite.svg#icon-reset"></use>
                        </svg>
                    </button>

                </form>

                <div class="viewed">
                    <div class="viewed__top">
                        <span class="viewed__title">Вы смотрели</span>
                        <span class="viewed__clear">Очистить</span>
                    </div><!-- viewed__top -->

                    <div class="objects__slider">
                        <div class="objects__slides swiper-wrapper">
                            <div class="objects__slide swiper-slide">
                                <div class="objects__item objects__item_hr">
                                    <div class="objects__item-header">
                                        <a href="#" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                                alt="Большая Бронная, 25с3">
                                        </a>

                                        <span class="objects__item-size">
                                            <svg class="svg-icon icon-size">
                                                <use xlink:href="images/sprite.svg#icon-size"></use>
                                            </svg>
                                            <span>46,5 м<sup>2</sup></span>
                                        </span>

                                        <i class="objects__item-premium"></i>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">190 350 000 ₽</span>
                                            <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div><!-- objects__item -->

                            </div><!-- objects__slide -->

                            <div class="objects__slide swiper-slide">
                                <div class="objects__item objects__item_hr">
                                    <div class="objects__item-header">
                                        <a href="#" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                                alt="Большая Бронная, 25с3">
                                        </a>

                                        <span class="objects__item-size">
                                            <svg class="svg-icon icon-size">
                                                <use xlink:href="images/sprite.svg#icon-size"></use>
                                            </svg>
                                            <span>46,5 м<sup>2</sup></span>
                                        </span>

                                        <i class="objects__item-premium"></i>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">190 350 000 ₽</span>
                                            <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div><!-- objects__item -->

                            </div><!-- objects__slide -->

                            <div class="objects__slide swiper-slide">
                                <div class="objects__item objects__item_hr">
                                    <div class="objects__item-header">
                                        <a href="#" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-1.jpg"
                                                alt="Большая Бронная, 25с3">
                                        </a>

                                        <span class="objects__item-size">
                                            <svg class="svg-icon icon-size">
                                                <use xlink:href="images/sprite.svg#icon-size"></use>
                                            </svg>
                                            <span>46,5 м<sup>2</sup></span>
                                        </span>

                                        <i class="objects__item-premium"></i>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="#" class="objects__item-title">Большая Бронная, 25с3</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">190 350 000 ₽</span>
                                            <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div><!-- objects__item -->

                            </div><!-- objects__slide -->

                        </div><!-- objects__slides -->

                    </div><!-- objects__slider -->

                </div><!-- viewed -->

            </div><!-- container -->

        </div><!-- search -->

        <div class="menu">
            <ul class="menu__list">
                <li>
                    <a href="#">Готовый бизнес</a>
                </li>

                <li>
                    <a href="#">Аренда</a>
                </li>

                <li>
                    <a href="#">Продажа</a>
                </li>

                <li>
                    <a href="#">О компании</a>
                </li>

                <li>
                    <a href="#">Партнеры</a>
                </li>

                <li>
                    <a href="#">Блог</a>
                </li>

                <li>
                    <a href="#">Контакты</a>
                </li>

            </ul>

            <div class="app__wrap">
                <div class="app__text">
                    <p class="app__title">
                        Запись на встречу
                    </p>

                    <p class="app__desc">
                        Заполните форму для проведения <br> встречи в удобном формате
                    </p>

                </div><!-- app__text -->

                <a href="#" class="btn btn-primary">Записаться</a>

            </div><!-- app__wrap -->

            <a href="#" class="btn btn-primary js-popup-link" data-href=".popup-callback">
                <span>Обратный звонок</span>
            </a>

        </div><!-- menu -->

    </section><!-- page-wrap -->

    {% include 'blocks/scripts.njk' %}

</body>

</html>