<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Блог - детальная1</title>
    {% include 'blocks/head.njk' %}
</head>

<body>
    <section class="page-wrap">
        {% include 'blocks/header.njk' %}

        <section class="blog-detail">
            <div class="container">

                <div class="pager">
                    <a href="home.html">Главная</a>
                    <i></i>
                    <a href="about.html">О компании</a>
                    <i></i>
                    <a href="blog.html">Блог</a>
                    <i></i>
                    <span>Renaissance Development закрыла сделку продажи Neva Towers</span>
                </div>

                <div class="block-top">
                    <h1 class="title1">
                        Renaissance Development закрыла сделку продажи Neva Towers
                    </h1>

                    <div class="block-controls__back">
                        <img src="img/arrow1.svg" alt="">
                    </div>

                    <div class="blog-detail__badge mob">
                        <ul>
                            <li>
                                <span>29 июля 2025 г.</span>
                            </li>
                            <li>
                                <img src="img/eye.svg" alt="">
                                516
                            </li>
                            <li>
                                <img src="img/book.svg" alt="">
                                4 мин.
                            </li>
                        </ul>
                    </div>

                    <div class="block-top__right">
                        <a href="#" class="btn btn-light">
                            <img src="img/send.svg" alt="">
                        </a>

                    </div><!-- block-top__right -->

                </div><!-- block-top -->

            </div><!-- container -->

            <div class="blog-detail__images">
                <div class="container">
                    <div class="blog-detail__image">
                        <img src="images/blog/item-1.webp" alt="">
                        <div class="blog-detail__badge desc">
                            <ul>
                                <li>
                                    29 июля 2025 г.
                                </li>
                                <li>
                                    <img src="img/eye.svg" alt="">
                                    <span>516</span>
                                </li>
                                <li>
                                    <img src="img/book.svg" alt="">
                                    <span>4 мин.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="blog-detail__body">
                    <div class="title1">Renaissance Development закрыла сделку продажи Neva Towers</div>
                    <div class="blog-detail__left">
                        <div class="blog-detail__text contents1">
                            <p>
                                Компания Metrika Investments стала владельцем офисной части многофункционального
                                комплекса
                                Neva Towers в деловом центре «Москва-сити». Об этом «Ведомостям» рассказали два
                                человека,
                                близкие к разным сторонам сделки.
                            </p>
                            <p>
                                Metrika Investments выкупила у турецкой Renaissance Development около 56 000 кв. м в
                                Neva
                                Towers. Сделка, по словам собеседников «Ведомостей», закрыта в самом конце 2019 г.
                            </p>
                            <p>
                                Представители Metrika Investments, Renaissance Development и консультанта сделки
                                Colliers
                                International от комментариев отказались.
                            </p>
                            <p>
                                337-метровая башня Neva Towers расположена на участках №17 и 18 в «Москва-сити».
                                Девелопер
                                Шалва Чигиринский планировал возвести там 612-метровую башню «Россия», но из-за кризиса
                                2008
                                г. проект заморозили. Сейчас общая площадь Neva Towers – 356 900 кв. м. Кроме офисов там
                                есть апартаменты (129 900 кв. м), торговые площади (6900 кв. м) и парковка на 2000
                                машино-мест.
                            </p>
                            <p>
                                Metrika Investments создана концерном «Россиум» в 2019 г. для управления премиальной
                                недвижимостью в Москве и приобретения таких объектов. Основной владелец «Россиума» –
                                Роман
                                Авдеев. Летом 2019 г. концерн объявил об объединении с группой «Регион».
                            </p>
                        </div>
                        <div class="blog-detail__slider swiper">
                            <div class="blog-detail__wrapper swiper-wrapper">
                                <div class="blog-detail__slide swiper-slide">
                                    <img src="images/blog/item-5.webp" alt="">
                                </div>
                                <div class="blog-detail__slide swiper-slide">
                                    <img src="images/blog/item-1.webp" alt="">
                                </div>
                                <div class="blog-detail__slide swiper-slide">
                                    <img src="images/blog/item-2.webp" alt="">
                                </div>
                            </div>
                            <div class="blog-detail__pagination"></div>
                        </div>
                        <div class="blog-detail__text contents2">
                            <p>
                                Среди активов Metrika Investments – бизнес-центр «Мерседес-бенц плаза» (20 000 кв. м) на
                                Ленинградском проспекте и Art Gallery Business Park (бывший «Кристалл», 64 000 кв. м).
                                Ранее
                                объектами управляла структура «Региона».
                            </p>
                            <p>
                                Metrika Investments могла заплатить за площади в Neva Towers 20–22 млрд руб., подсчитала
                                директор по продажам офисов Knight Frank Ирина Артемова. Управляющий партнер ILM Андрей
                                Лукашев считает эту цену рыночной.
                            </p>
                        </div>
                        <div class="blog-detail__img">
                            <img src="images/blog/item-6.webp" alt="">
                            <img src="images/blog/item-7.webp" alt="">
                        </div>
                        <div class="blog-detail__text contents3">
                            <p>
                                Metrika Investments покупает офисы в «Москва-сити» в инвестиционных целях и планирует
                                сдавать их в аренду, знают два человека, близкие к сторонам сделки. Для этого она, по их
                                словам, наняла бывшего топ-менеджера консалтинговой компании JLL Елизавету Голышеву. 16
                                января Metrika Investments сообщила, что Голышева возглавит департамент по управлению
                                активами и аренде. Голышева от комментариев отказалась.
                            </p>
                            <p>
                                С заполняемостью этих площадей проблем не будет, уверен Лукашев. Офисы в «Москва-сити»
                                пользуются большим спросом. А после аренды «Яндексом» около 20 000 кв. м в «Око» башня
                                Neva
                                Towers, по сути, остается единственным объектом в деловом центре, который может
                                предложить
                                крупные блоки в аренду, поясняет он.
                            </p>
                            <p>
                                Покупка офисов Neva Towers – крупнейшая инвестиционная сделка с офисами за 2019 г.,
                                говорит
                                директор департамента рынков капитала Cushman & Wakefield Алан Балоев.
                            </p>
                            <p>
                                По данным Knight Frank и CBRE, в прошлом году Райффайзенбанк подписал соглашение с
                                «Эталоном» о строительстве бизнес-центра на 34 000 кв. м в деловом квартале Nagatino
                                i-Land.
                                Но банк покупает офис для собственных нужд, а не для инвестиций. Кроме того,
                                инвесткомпания
                                Arrow Capital приобрела у бывших топ-менеджеров «Интеко» бизнес-центр Fusion Park (16
                                600
                                кв. м), а семья совладельца «Мария-Ра» Александра Ракшина – офисно-складской комплекс на
                                21
                                000 кв. м на ул. 8 Марта. Эти сделки оцениваются в 4,5–5 млрд руб. и 2,3–2,5 млрд руб.
                                соответственно.
                            </p>
                        </div>
                        <div class="blog-detail__buttons">
                            <a href="blog.html" class="btn btn-primary">Назад</a>
                            <a href="#" class="btn btn-border">
                                <span>Поделиться</span>
                                <img src="img/send.svg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="blog-detail__right">
                        <div class="blog-detail__sticky">
                            <div class="contents-blog-detail">
                                <div class="contents-blog-detail__title">
                                    Оглавление
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" data-goto=".contents1" data-goto-header>Новый владелец Neva
                                            Towers</a>
                                    </li>
                                    <li>
                                        <a href="#" data-goto=".contents2" data-goto-header>Активы Metrika
                                            Investments</a>
                                    </li>
                                    <li>
                                        <a href="#" data-goto=".contents3" data-goto-header>Покупка офисов в в
                                            «Москва-сити»</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="blog-detail__article">
                                <div class="blog__slide">
                                    <div class="blog__item">
                                        <a href="#" class="blog__item-photo">
                                            <img class="photo-full-size" src="images/blog/item-2.webp" alt="Фото">
                                        </a>

                                        <div class="blog__item-body">
                                            <a href="#" class="blog__item-title">
                                                Проект ресторатора Александра Оганезова
                                                продолжает захватывать Москву
                                            </a>

                                            <span class="blog__item-date">1 июля 2025 г.</span>

                                        </div><!-- blog__item-body -->

                                    </div>

                                </div>
                                <a href="blog.html" class="btn btn-primary">Все статьи</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- blog -->

        <section class="blog blog3">
            <div class="container">
                <div class="block-top">
                    <h2>
                        Также советуем
                    </h2>

                </div><!-- block-top -->
                <div class="blog__slider swiper">
                    <div class="blog__wrapper swiper-wrapper">
                        <div class="blog__slide swiper-slide">
                            <div class="blog__item">
                                <div class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-1.webp" alt="Фото">
                                </div>

                                <div class="blog__item-body">
                                    <div class="blog__item-title">
                                        Renaissance Development закрыла сделку
                                        продажи Neva Towers
                                    </div>

                                    <span class="blog__item-date">29 июля 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div>
                        </div>

                        <div class="blog__slide swiper-slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-2.webp" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Проект ресторатора Александра Оганезова
                                        продолжает захватывать Москву
                                    </a>

                                    <span class="blog__item-date">1 июля 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div>

                        </div>

                        <div class="blog__slide swiper-slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-3.webp" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Бизнес-центр из черного кирпича возведут на
                                        2-ой Звенигородской улице в Москве
                                    </a>

                                    <span class="blog__item-date">20 июня 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->


                        </div>

                        <div class="blog__slide swiper-slide">
                            <div class="blog__item">
                                <a href="#" class="blog__item-photo">
                                    <img class="photo-full-size" src="images/blog/item-4.webp" alt="Фото">
                                </a>

                                <div class="blog__item-body">
                                    <a href="#" class="blog__item-title">
                                        Нечеловечески вкусный кофе
                                    </a>

                                    <span class="blog__item-date">19 июня 2025 г.</span>

                                </div><!-- blog__item-body -->

                            </div><!-- blog__item -->


                        </div>

                    </div>

                </div><!-- blog__slider -->

                <div class="block-top__right mob">

                    <a href="#" class="btn btn-primary">
                        <span>Все публикации</span>
                    </a>

                </div>

            </div><!-- container -->

        </section><!-- blog -->

        <section class="subscribe container">
            <form action=".php" class="subscribe__form subscribe__form_black">
                <div class="row">
                    <div class="subscribe__left col-lg-6">
                        <p class="subscribe__title">Подпишитесь на наши обновления</p>
                        <p class="subscribe__desc">Только важная информация, без спама</p>
                    </div><!-- subscribe__left -->

                    <div class="subscribe__right col-lg-6">
                        <div class="subscribe__fileds">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваше имя">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваш email">
                            <button class="btn btn-light subscribe__btn">
                                <span>Отправить</span>
                                <svg class="svg-icon icon-subscribe-arrow">
                                    <use xlink:href="images/sprite.svg#icon-subscribe-arrow"></use>
                                </svg>
                            </button>

                        </div><!-- subscribe__fileds -->

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на обработку
                                <a href="#">персональных данных</a>
                            </span>

                        </label>

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на рекламно-информационные рассылки
                            </span>

                        </label>

                    </div><!-- subscribe__right -->

                </div><!-- row -->

            </form>

        </section><!-- subscribe -->

        <section class="contacts container">
            <div class="contacts__wrap">
                <div id="map"></div>

                <a href="#" class="btn btn-primary map-link">
                    <span>Открыть на Яндекс Картах</span>
                    <svg class="svg-icon icon-ya-map">
                        <use xlink:href="images/sprite.svg#icon-ya-map"></use>
                    </svg>
                </a>

            </div><!-- contacts__wrap -->

            <div class="contacts__list">
                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-address pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-address"></use>
                        </svg>
                    </span>

                    <span class="contacts__item-desc">
                        123022 Звенигородское ш. 18/20, стр. 1
                    </span>

                    <a href="#" class="contacts__item-blank" target="_blank">
                        <svg class="svg-icon icon-blank-link">
                            <use xlink:href="images/sprite.svg#icon-blank-link"></use>
                        </svg>
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-phone pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-phone"></use>
                        </svg>
                    </span>

                    <a href="tel:+74952562908" class="contacts__item-desc">
                        +7 495 256-29-08
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-mail pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-mail"></use>
                        </svg>
                    </span>

                    <a href="mailto:info@ec.ru" class="contacts__item-desc">
                        info@ec.ru
                    </a>

                </div><!-- contacts__item -->

            </div><!-- contacts__list -->

        </section><!-- contacts -->

        {% include 'blocks/footer.njk' %}

        {% include 'blocks/mobile-menu.njk' %}

        {% include 'blocks/popups.njk' %}

        {% include 'blocks/search.njk' %}

        {% include 'blocks/menu.njk' %}

    </section><!-- page-wrap -->

    {% include 'blocks/scripts.njk' %}

</body>

</html>