<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Партнеры</title>
    {% include 'blocks/head.njk' %}
</head>

<body>
    <section class="page-wrap">
        {% include 'blocks/header.njk' %}

        <section class="partners partners2">
            <div class="container">

                <div class="pager">
                    <a href="home.html">Главная</a>
                    <i></i>
                    <a href="about.html">О компании</a>
                    <i></i>
                    <span>Партнеры</span>
                </div>

                <div class="block-top">
                    <div class="block-top__left">
                        <h1 class="title1">
                            Партнеры
                        </h1>
                        <p>
                            Мы видим в партнерстве не просто формат сотрудничества, а стратегический актив для создания
                            устойчивой ценности. Именно синергия с профессиональными участниками рынка позволяет
                            достигать
                            выдающихся результатов в сфере инвестиций в недвижимость. Наши отношения строятся на
                            общности
                            подходов: разделении ценностей надёжности, профессионализма и взаимного уважения, что
                            создает
                            прочную основу для долгосрочного и продуктивного диалога.
                        </p>
                    </div>

                </div><!-- block-top -->

                <div class="partners__body">
                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-1.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-2.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-3.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-4.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-5.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-1.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-2.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-3.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-4.svg" alt="Логотип">
                    </div><!-- partners__slide -->

                    <div class="partners__slide swiper-slide">
                        <img src="images/partners/logo-5.svg" alt="Логотип">
                    </div><!-- partners__slide -->
                </div>

                <div class="objects__bottom">
                    <nav aria-label="Постраничная навигация">
                        <ul class="pagination pagination2">
                            <li>
                                <span
                                    class="pagination__item pagination__item_nav pagination__item_nav-prev pagination__item_disabled"
                                    href="#">
                                    <img loading="lazy" src="img/arrow1.svg" alt="">
                                </span>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_active" aria-current="page" href="#">1</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#">2</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#">3</a>
                            </li>
                            <li>
                                <a class="pagination__item" href="#">4</a>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_ellipsis" href="#">...</a>
                            </li>
                            <li>
                                <a class="pagination__item pagination__item_nav pagination__item_nav-next" href="#">
                                    <img loading="lazy" src="img/arrow1.svg" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div><!-- objects__bottom -->

            </div><!-- container -->

        </section><!-- blog -->

        <section class="subscribe container">
            <form action=".php" class="subscribe__form">
                <div class="row">
                    <div class="subscribe__left col-lg-6">
                        <p class="subscribe__title">Подпишитесь на наши обновления</p>
                        <p class="subscribe__desc">Только важная информация, без спама</p>
                    </div><!-- subscribe__left -->

                    <div class="subscribe__right col-lg-6">
                        <div class="subscribe__fileds">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваше имя">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваш email">
                            <button class="btn btn-primary subscribe__btn">
                                <span>Отправить</span>
                                <svg class="svg-icon icon-subscribe-arrow">
                                    <use xlink:href="images/sprite.svg#icon-subscribe-arrow"></use>
                                </svg>
                            </button>

                        </div><!-- subscribe__fileds -->

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на обработку
                                <a href="#">персональных данных</a>
                            </span>

                        </label>

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на рекламно-информационные рассылки
                            </span>

                        </label>

                    </div><!-- subscribe__right -->

                </div><!-- row -->

            </form>

        </section><!-- subscribe -->

        <section class="contacts container">
            <div class="contacts__wrap">
                <div id="map"></div>

                <a href="#" class="btn btn-primary map-link">
                    <span>Открыть на Яндекс Картах</span>
                    <svg class="svg-icon icon-ya-map">
                        <use xlink:href="images/sprite.svg#icon-ya-map"></use>
                    </svg>
                </a>

            </div><!-- contacts__wrap -->

            <div class="contacts__list">
                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-address pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-address"></use>
                        </svg>
                    </span>

                    <span class="contacts__item-desc">
                        123022 Звенигородское ш. 18/20, стр. 1
                    </span>

                    <a href="#" class="contacts__item-blank" target="_blank">
                        <svg class="svg-icon icon-blank-link">
                            <use xlink:href="images/sprite.svg#icon-blank-link"></use>
                        </svg>
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-phone pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-phone"></use>
                        </svg>
                    </span>

                    <a href="tel:+74952562908" class="contacts__item-desc">
                        +7 495 256-29-08
                    </a>

                </div><!-- contacts__item -->

                <div class="contacts__item">
                    <span class="contacts__item-icon">
                        <svg class="svg-icon icon-contact-mail pos-center">
                            <use xlink:href="images/sprite.svg#icon-contact-mail"></use>
                        </svg>
                    </span>

                    <a href="mailto:info@ec.ru" class="contacts__item-desc">
                        info@ec.ru
                    </a>

                </div><!-- contacts__item -->

            </div><!-- contacts__list -->

        </section><!-- contacts -->

        {% include 'blocks/footer.njk' %}

        {% include 'blocks/mobile-menu.njk' %}

        {% include 'blocks/popups.njk' %}

        {% include 'blocks/search.njk' %}

        {% include 'blocks/menu.njk' %}

    </section><!-- page-wrap -->

    {% include 'blocks/scripts.njk' %}

</body>

</html>