<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Карточка объекта4</title>
    {% include 'blocks/head.njk' %}
</head>

<body>
    <section class="page-wrap">
        {% include 'blocks/header.njk' %}

        <div class="block-sticky">
            <div class="container">
                <div class="block-sticky__content">
                    <div class="block-controls__back">
                        <img src="img/arrow1.svg" alt="">
                    </div>
                    <div class="block-sticky__body">
                        <ul>
                            <li class="title">
                                Большая Бронная 25, стр. 3
                            </li>
                            <li>
                                46,5 м2
                            </li>
                            <li>
                                190 350 000 ₽ <span>1 175 000 ₽ / месяц</span>
                            </li>
                        </ul>
                    </div>
                    <div class="block-controls">
                        <div class="block-controls__icons">
                            <a href="#" class="block-controls__icon">
                                <img src="img/send.svg" alt="">
                            </a>
                            <a href="#" class="block-controls__icon">
                                <svg class="icon-favorites">
                                    <use xlink:href="images/sprite.svg#icon-favorites"></use>
                                </svg>
                            </a>
                        </div>
                        <a href="#" class="btn btn-border">Заявка на просмотр</a>
                    </div>
                </div>
            </div>
        </div>

        <section class="page container">

            <div class="block-breadcrumbs">
                <div class="pager">
                    <a href="home.html">Главная</a>
                    <i></i>
                    <a href="catalog.html">Каталог объектов</a>
                    <i></i>
                    <a href="#">Продажа</a>
                    <i></i>
                    <span>Большая Бронная 25, стр. 3</span>

                </div><!-- pager -->
                <div class="block-controls">
                    <div class="block-controls__back">
                        <img src="img/arrow1.svg" alt="">
                    </div>
                    <div class="block-controls__icons">
                        <a href="#" class="block-controls__icon">
                            <img src="img/send.svg" alt="">
                        </a>
                        <a href="#" class="block-controls__icon">
                            <svg class="icon-favorites">
                                <use xlink:href="images/sprite.svg#icon-favorites"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>


        </section><!-- page -->

        <div class="block-product-card block-product-card2">
            <div class="block-product-card__content">
                <div class="images-product">
                    <div class="images-product__swiper">
                        <div class="images-product__slider swiper">
                            <div class="images-product__wrapper swiper-wrapper">
                                <a href="images/objects/list/item-1.webp" data-fancybox="gallery1"
                                    class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </a>
                                <a href="images/objects/list/item-1.webp" data-fancybox="gallery1"
                                    class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </a>
                                <a href="images/objects/list/item-1.webp" data-fancybox="gallery1"
                                    class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="container">
                            <div class="images-product__arrow-prev">
                                <img src="img/arrow1.svg" alt="">
                            </div>
                            <div class="images-product__arrow-next">
                                <img src="img/arrow1.svg" alt="">
                            </div>
                        </div>
                        <div class="images-product__pagination"></div>
                        <div class="images-product__buttons">
                            <div class="objects__control-btn">
                                <svg class="svg-icon icon-size">
                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                </svg>
                                <span>46,5 м2</span>
                            </div>
                            <div class="objects__control-btn">
                                <span>Арендатор: THE KAS</span>
                            </div>
                        </div>
                    </div>
                    <div class="images-product__thumbs">
                        <div class="images-product__thumb swiper">
                            <div class="images-product__wrapper swiper-wrapper">
                                <div class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </div>
                                <div class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </div>
                                <div class="images-product__slide swiper-slide">
                                    <img src="images/objects/list/item-1.webp" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card-info container">
                    <div class="product-card-info__column">
                        <div class="product-card-info__top">
                            <div class="product-card-info__title">Большая Бронная 25, стр. 3</div>
                            <ul class="product-card-info__subtitle">
                                <li>
                                    <svg class="svg-icon icon-metro">
                                        <use xlink:href="images/sprite.svg#icon-metro"></use>
                                    </svg>
                                    <span>Пушкинская, Тверская, Чеховская</span>
                                </li>
                                <li>
                                    <svg class="svg-icon icon-foot-time">
                                        <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                    </svg>
                                    <span>3 мин</span>
                                </li>
                            </ul>
                        </div>
                        <ul class="product-card-info__list">
                            <li>
                                <div class="product-card-info__name">Тип здания</div>
                                <div class="product-card-info__value">Нежилой дом</div>
                            </li>
                            <li>
                                <div class="product-card-info__name">Высота потолков</div>
                                <div class="product-card-info__value">4,3 м</div>
                            </li>
                            <li>
                                <div class="product-card-info__name">Этажность</div>
                                <div class="product-card-info__value">1 этаж</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-descr-product">
            <div class="container">
                <div class="block-descr-product__content">
                    <div class="product-table-mob">
                        <ul>
                            <li>
                                <div class="product-table-mob__left">
                                    <div class="product-table-mob__name">THE KAS</div>
                                    <div class="product-table-mob__lists">
                                        <div class="product-table-mob__list">
                                            <span>46,5 м2</span>
                                        </div>
                                        <div class="product-table-mob__list">
                                            <span>190 350 000 ₽</span>
                                            <span class="grey">—</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-table-mob__icon">
                                    <img src="img/layout.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="product-table-mob__left">
                                    <div class="product-table-mob__name">БУТИК ОДЕЖДЫ</div>
                                    <div class="product-table-mob__lists">
                                        <div class="product-table-mob__list">
                                            <span>26,7 м2</span>
                                        </div>
                                        <div class="product-table-mob__list">
                                            <span>125 550 000 ₽</span>
                                            <span class="grey">—</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-table-mob__icon">
                                    <img src="img/layout.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="product-table-mob__left">
                                    <div class="product-table-mob__name">AFROZODIAC</div>
                                    <div class="product-table-mob__lists">
                                        <div class="product-table-mob__list">
                                            <span>47,8 м2</span>
                                        </div>
                                        <div class="product-table-mob__list">
                                            <span>189 540 000 ₽</span>
                                            <span class="grey">—</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-table-mob__icon">
                                    <img src="img/layout.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="product-table-mob__left">
                                    <div class="product-table-mob__name">SMASH POINT</div>
                                    <div class="product-table-mob__lists">
                                        <div class="product-table-mob__list">
                                            <span>53,9 м2</span>
                                        </div>
                                        <div class="product-table-mob__list">
                                            <span>204 120 000 ₽</span>
                                            <span class="grey">—</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-table-mob__icon">
                                    <img src="img/layout.svg" alt="">
                                </div>
                            </li>
                            <li>
                                <div class="product-table-mob__left">
                                    <div class="product-table-mob__name">—</div>
                                    <div class="product-table-mob__lists">
                                        <div class="product-table-mob__list">
                                            <span>36,8 м2</span>
                                        </div>
                                        <div class="product-table-mob__list">
                                            <span>155 520 000 ₽</span>
                                            <span class="grey">960 000</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-table-mob__icon">
                                    <img src="img/layout.svg" alt="">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="block-descr-product__tables">
                        <div class="block-descr-product__table main-table">
                            <div class="block-descr-product__item">№</div>
                            <div class="block-descr-product__item">Площадь, м2</div>
                            <div class="block-descr-product__item">Планировка</div>
                            <div class="block-descr-product__item">Аренда, ₽/мес.</div>
                            <div class="block-descr-product__item">Продажа, ₽</div>
                            <div class="block-descr-product__item">Арендатор</div>
                            <div class="block-descr-product__item">Презентация</div>
                        </div>
                        <div class="block-descr-product__table">
                            <div class="block-descr-product__item">1</div>
                            <div class="block-descr-product__item">46,5</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img src="img/layout.svg"
                                    alt=""></a>
                            <div class="block-descr-product__item"></div>
                            <div class="block-descr-product__item">190 350 000</div>
                            <div class="block-descr-product__item">THE KAS</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img
                                    src="img/acrobat-logo.svg" alt=""></a>
                        </div>
                        <div class="block-descr-product__table">
                            <div class="block-descr-product__item">2</div>
                            <div class="block-descr-product__item">26,7</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img src="img/layout.svg"
                                    alt=""></a>
                            <div class="block-descr-product__item"></div>
                            <div class="block-descr-product__item">125 550 000</div>
                            <div class="block-descr-product__item">БУТИК ОДЕЖДЫ</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img
                                    src="img/acrobat-logo.svg" alt=""></a>
                        </div>
                        <div class="block-descr-product__table">
                            <div class="block-descr-product__item">3</div>
                            <div class="block-descr-product__item">47,8</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img src="img/layout.svg"
                                    alt=""></a>
                            <div class="block-descr-product__item"></div>
                            <div class="block-descr-product__item">189 540 000</div>
                            <div class="block-descr-product__item">AFROZODIAC</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img
                                    src="img/acrobat-logo.svg" alt=""></a>
                        </div>
                        <div class="block-descr-product__table">
                            <div class="block-descr-product__item">4</div>
                            <div class="block-descr-product__item">53,9</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img src="img/layout.svg"
                                    alt=""></a>
                            <div class="block-descr-product__item"></div>
                            <div class="block-descr-product__item">204 120 000</div>
                            <div class="block-descr-product__item">SMASH POINT</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img
                                    src="img/acrobat-logo.svg" alt=""></a>
                        </div>
                        <div class="block-descr-product__table">
                            <div class="block-descr-product__item">5</div>
                            <div class="block-descr-product__item">36,8</div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img src="img/layout.svg"
                                    alt=""></a>
                            <div class="block-descr-product__item">960 000</div>
                            <div class="block-descr-product__item">155 520 000</div>
                            <div class="block-descr-product__item"></div>
                            <a href="#" target="_blank" class="block-descr-product__item"><img
                                    src="img/acrobat-logo.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-about">
            <div class="container">
                <div class="block-top">
                    <h2>Об арендаторе</h2>
                </div>
                <div class="block-about__text">
                    <p>
                        THE KAS – российский бренд женской одежды, миссия которого вдохновлять женщин на раскрытие
                        внутреннего потенциала и свободное выражение своей индивидуальности.
                        Создатели бренда используют комфортный и удобный крой, адаптированный под активную жизнь
                        современной девушки, чтобы ее образы были на любой случай и актуальны вне всех времен и сезонов.
                    </p>
                </div>
            </div>
        </div>

        <div class="block-benefits1">
            <div class="container">
                <div class="block-top">
                    <h2>Инвестиционные показатели</h2>
                </div>
                <div class="block-benefits1__content">
                    <div class="block-benefits1__body">
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__title">Годовая доходность</div>
                            <div class="block-benefits1__subtitle">≈ 11.4%</div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__title">Доход за год</div>
                            <div class="block-benefits1__subtitle">≈ 1 500 560 ₽</div>
                        </div>
                        <div class="block-benefits1__column">
                            <div class="block-benefits1__title">Доход за месяц</div>
                            <div class="block-benefits1__subtitle">≈ 121 904 ₽</div>
                        </div>
                        <div class="block-benefits1__column column_dark">
                            <div class="block-benefits1__title">Окупаемость</div>
                            <div class="block-benefits1__subtitle">≈ 8 лет 6 мес.</div>
                        </div>
                    </div>
                    <p>
                        Расчёт возможного дохода осуществлен на текущую дату и является ориентировочным при долгосрочной
                        сдаче в аренду. При расчете возможного дохода не учтены налоги и сборы, иные затраты, а также
                        ежегодная индексация стоимости аренды. Реальный доход будет зависеть от состояния помещения,
                        рыночной ситуации и иных факторов, действующих на момент сдачи помещения в аренду. Указанный
                        возможный доход от аренды в год рассчитан по формуле: Стоимость 1м2/11 лет окупаемости*площадь
                        помещения. Указанный возможный доход от аренды в месяц рассчитан по формуле: Возможный доход от
                        аренды в год/12 месяцев. Любая информация, представленная на данном сайте, носит исключительно
                        информационный характер и ни при каких условиях не является публичной офертой, определяемой
                        положениями статьи 437 ГК РФ.
                    </p>
                </div>
            </div>
        </div>

        <div class="block-benefits2">
            <div class="container">
                <div class="block-top">
                    <h2>Характеристики и преимущества</h2>
                </div>
                <div class="block-benefits2__body">
                    <div class="block-benefits2__column column1 column_dark">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title1">4.3 м</div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Высота потолков
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column2">
                        <div class="block-benefits2__top">
                            <img loading="lazy" src="img/house-checkmark.svg" alt="">
                            <div class="block-benefits2__title1">2 входа</div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Отдельная входная группа с фасада
                                <br>
                                с 1-ой линии, есть входы со двора
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column3">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">Свободная планировка</div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Железобетонные перекрытия
                            </p>
                            <a href="#" class="btn btn-primary">Смотреть</a>
                        </div>
                    </div>
                    <div class="block-benefits2__column column4">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">Выгодная локация</div>
                            <div class="objects__item-param">
                                <svg class="svg-icon icon-metro">
                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                </svg>
                                <span>Пушкинская, Тверская, Чеховская</span>
                            </div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Отличная пешеходная и транспортная доступность
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column5 column_dark">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">Свободное использование</div>
                            <img loading="lazy" src="img/house-key.svg" alt="">
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Ограничений нет — рассмотрим все предложения
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column6 column_blue">
                        <img loading="lazy" src="img/benefits-image1.webp" alt="" class="block-benefits2__bg1">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">Высокий рекламный
                                потенциал</div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Место для размещения вывески
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column7">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">Энергообеспечение</div>
                            <img loading="lazy" src="img/lightning.svg" alt="">
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Достаточное количество под любой вид деятельности
                            </p>
                        </div>
                    </div>
                    <div class="block-benefits2__column column8">
                        <div class="block-benefits2__top">
                            <div class="block-benefits2__title2">1 этаж</div>
                        </div>
                        <div class="block-benefits2__bottom">
                            <p>
                                Нежилой дом
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block-layout">
            <div class="container">
                <div class="block-top">
                    <h2>Планировка</h2>
                </div>
                <div class="block-layout__content">
                    <div class="block-layout__image-wrapper">
                        <div class="block-layout__body">
                            <div data-image="1" class="block-layout__column">
                                <div style="background: #001b3a;" class="block-layout__number">1</div>
                                <span>46,5 м2</span>
                            </div>
                            <div data-image="2" class="block-layout__column">
                                <div style="background: #003b65;" class="block-layout__number">2</div>
                                <span>46,5 м2</span>
                            </div>
                            <div data-image="3" class="block-layout__column">
                                <div style="background: #334961;" class="block-layout__number">3</div>
                                <span>46,5 м2</span>
                            </div>
                            <div data-image="4" class="block-layout__column">
                                <div style="background: #009dda;" class="block-layout__number">4</div>
                                <span>46,5 м2</span>
                            </div>
                            <div data-image="5" class="block-layout__column">
                                <div style="background: transparent; border: 1px solid #001b3a; color: #001b3a;"
                                    class="block-layout__number">5</div>
                                <span>46,5 м2</span>
                            </div>
                        </div>
                        <div class="block-layout__zoom">
                            <button type="button" class="block-layout__zoom-icon zoom-minus">
                                <img loading="lazy" src="img/loupe-minus.svg" alt="Уменьшить">
                            </button>
                            <button type="button" class="block-layout__zoom-icon zoom-plus">
                                <img loading="lazy" src="img/loupe-plus.svg" alt="Увеличить">
                            </button>
                        </div>
                        <div class="block-layout__buttons">
                            <a href="#" target="_blank" class="btn btn-secondary">Открыть презентацию</a>
                            <a href="#download" target="_blank" class="block-layout__download">
                                <img loading="lazy" src="img/download.svg" alt="Скачать">
                            </a>
                        </div>
                        <div class="block-layout__zoom-container">
                            <div data-image="all" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="background: #001b3a; bottom: 29%; left: 8%;" class="block-layout__number">1
                                </div>
                                <div style="background: #003b65; bottom: 29%; left: 24%;" class="block-layout__number">2
                                </div>
                                <div style="background: #334961; bottom: 29%; left: 39%;" class="block-layout__number">3
                                </div>
                                <div style="background: #009dda; bottom: 29%; left: 70%;" class="block-layout__number">4
                                </div>
                                <div style="bottom: 29%; left: 86%; background: transparent; border: 1px solid #001b3a; color: #001b3a;"
                                    class="block-layout__number">5</div>
                            </div>
                            <div data-image="1" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="background: #001b3a; bottom: 29%; left: 8%;" class="block-layout__number">1
                                </div>
                            </div>
                            <div data-image="2" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="background: #003b65; bottom: 29%; left: 24%;" class="block-layout__number">2
                                </div>
                            </div>
                            <div data-image="3" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="background: #334961; bottom: 29%; left: 39%;" class="block-layout__number">3
                                </div>
                            </div>
                            <div data-image="4" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="background: #009dda; bottom: 29%; left: 70%;" class="block-layout__number">4
                                </div>
                            </div>
                            <div data-image="5" class="block-layout__image">
                                <img loading="lazy" src="img/layout-image1.webp" alt="План квартиры">
                                <div style="bottom: 29%; left: 86%; background: transparent; border: 1px solid #001b3a; color: #001b3a;"
                                    class="block-layout__number">5</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <section class="app container">
            <div class="app__wrap">
                <div class="app__text">
                    <p class="app__title">
                        Запись на встречу
                    </p>

                    <p class="app__desc">
                        Заполните форму для проведения встречи в удобном формате
                    </p>

                </div><!-- app__text -->

                <a href="#" class="btn btn-primary">Записаться</a>

            </div><!-- app__wrap -->

        </section><!-- app -->

        <section class="faq container">
            <div class="block-top">
                <h2>
                    Часто задаваемые вопросы
                </h2>
            </div>

            <div class="faq__list">
                <div class="faq__item opened">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Какая схема сделки при продаже объекта?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Есть ли возможность оформить ипотеку?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Вы рассматриваете выкуп помещений от собственника?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Актуальная недвижимость располагается только в Москве?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

                <div class="faq__item">
                    <div class="faq__item-btn">
                        <p class="faq__item-title">
                            Как проходит процесс аренды помещения?
                        </p>

                        <span class="faq__item-icon"></span>

                    </div><!-- faq__item-btn -->

                    <div class="faq__item-drop">
                        <p>
                            При продаже объекта наша компания использует схему
                            договором купли-продажи. ДКПН — это единственный
                            договор, который подлежит обязательной государственной
                            регистрации в Росреестре. Только после этой
                            регистрации вы официально становитесь собственником,
                            и это право защищено законом.
                        </p>

                    </div><!-- faq__item-drop -->

                </div><!-- faq__item -->

            </div><!-- faq__list -->

        </section><!-- faq -->

        <section class="work container">
            <div class="block-top">
                <h2>
                    С кем мы работаем
                </h2>
            </div>

            <div class="work__list row">
                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Инвесторы
                        </h3>

                        <p>
                            Предлагаем проверенные объекты с высоким доходом.
                            Гарантируем безопасность сделок и профессиональное
                            управление вашими активами для стабильной прибыли.
                        </p>

                        <span class="work__item-number">01</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Арендаторы
                        </h3>

                        <p>
                            Поможем найти идеальное помещение для вашего бизнеса.
                            Предлагаем прозрачные условия аренды и оперативную
                            поддержку по всем вопросам.
                        </p>

                        <span class="work__item-number">02</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

                <div class="col-lg-4">
                    <div class="work__item">
                        <h3>
                            Консультанты и брокеры
                        </h3>

                        <p>
                            Строим долгосрочное сотрудничество на взаимном уважении.
                            Обеспечим полной информацией по объектам и прозрачными
                            условиями работы.
                        </p>

                        <span class="work__item-number">03</span>

                    </div><!-- work__item -->

                </div><!-- col-lg-4 -->

            </div><!-- work__list -->

        </section><!-- work -->

        <section class="contacts container contacts2">
            <div class="block-top">
                <h2>Расположение и доступность</h2>
            </div>
            <div class="contacts__wrap">
                <div id="map3"></div>

                <div class="filter__types">
                    <label class="filter__type">
                        <input type="radio" name="type3" checked>
                        <span class="filter__type-btn">
                            <span>Объект</span>
                        </span>
                    </label>

                    <label class="filter__type">
                        <input type="radio" name="type3">
                        <span class="filter__type-btn">
                            <span>Офис продаж</span>
                        </span>
                    </label>

                </div>

                <a href="#" class="btn btn-primary map-link">
                    <span>Открыть на Яндекс Картах</span>
                    <svg class="svg-icon icon-ya-map">
                        <use xlink:href="images/sprite.svg#icon-ya-map"></use>
                    </svg>
                </a>

            </div><!-- contacts__wrap -->

            <div class="contacts__list">
                <div class="contacts__item">

                    <span class="contacts__item-desc">
                        Большая Бронная 25, стр. 3
                    </span>

                    <a href="#" class="contacts__item-blank" target="_blank">
                        <svg class="svg-icon icon-blank-link">
                            <use xlink:href="images/sprite.svg#icon-blank-link"></use>
                        </svg>
                    </a>

                </div><!-- contacts__item -->

                <div class="objects__item-params">
                    <div class="objects__item-param">
                        <div class="location-img"></div>
                        <span>Пушкинская, Тверская, Чеховская</span>
                    </div><!-- objects__item-param -->

                    <div class="objects__item-param">
                        <svg class="svg-icon icon-foot-time">
                            <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                        </svg>
                        <span>3 мин</span>
                    </div><!-- objects__item-param -->

                </div>

            </div><!-- contacts__list -->

        </section><!-- contacts -->

        <section class="subscribe container subscribe2">
            <form action=".php" class="subscribe__form">
                <div class="row">
                    <div class="subscribe__left col-lg-6">
                        <p class="subscribe__title">Подпишитесь на наши обновления</p>
                        <p class="subscribe__desc">Только важная информация, без спама</p>
                    </div><!-- subscribe__left -->

                    <div class="subscribe__right col-lg-6">
                        <div class="subscribe__fileds">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваше имя">
                            <input type="text" name="name" class="subscribe__field" placeholder="Ваш email">
                            <button class="btn btn-primary subscribe__btn">
                                <span>Отправить</span>
                                <svg class="svg-icon icon-subscribe-arrow">
                                    <use xlink:href="images/sprite.svg#icon-subscribe-arrow"></use>
                                </svg>
                            </button>

                        </div><!-- subscribe__fileds -->

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на обработку
                                <a href="#">персональных данных</a>
                            </span>

                        </label>

                        <label class="checkbox">
                            <input type="checkbox">
                            <span class="checkbox__btn">
                                <svg class="svg-icon icon-check">
                                    <use xlink:href="images/sprite.svg#icon-check"></use>
                                </svg>
                            </span>

                            <span class="checkbox__desc">
                                Я даю <a href="#">согласие</a> на рекламно-информационные рассылки
                            </span>

                        </label>

                    </div><!-- subscribe__right -->

                </div><!-- row -->

            </form>

        </section><!-- subscribe -->

        <div class="block-interested">
            <div class="container">
                <div class="block-interested__content">
                    <div class="block-interested__top">
                        <h2 class="title2">Вас может заинтересовать</h2>
                        <a href="catalog.html" class="btn btn-light">Все предложения</a>
                    </div>
                    <div class="block-interested__slider swiper">
                        <div class="block-interested__wrapper swiper-wrapper">
                            <div class="block-interested__slide swiper-slide">
                                <div class="objects__item">
                                    <div class="objects__item-header">
                                        <a href="product-card1.html" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-1.webp"
                                                alt="Большая Бронная, 25с3">
                                        </a>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="product-card1.html" class="objects__item-title">Большая Бронная,
                                            25с3</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">190 350 000 ₽</span>
                                            <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div>
                            </div>
                            <div class="block-interested__slide swiper-slide">
                                <div class="objects__item">
                                    <div class="objects__item-header">
                                        <a href="product-card1.html" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-5.webp"
                                                alt="Новослободская, 20">
                                        </a>

                                        <i class="objects__item-premium"></i>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="product-card1.html" class="objects__item-title">Новослободская, 20</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">67 680 000 ₽</span>
                                            <span class="objects__item-month">470 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div><!-- objects__item -->
                            </div>
                            <div class="block-interested__slide swiper-slide">
                                <div class="objects__item">
                                    <div class="objects__item-header">
                                        <a href="product-card1.html" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-6.webp"
                                                alt="Большая Садовая, 6с2">
                                        </a>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="product-card1.html" class="objects__item-title">Большая Садовая,
                                            6с2</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">По запросу</span>
                                            <span class="objects__item-month">580 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div><!-- objects__item -->
                            </div>
                            <div class="block-interested__slide swiper-slide">
                                <div class="objects__item">
                                    <div class="objects__item-header">
                                        <a href="product-card1.html" class="objects__item-photo">
                                            <img class="photo-full-size" src="images/objects/list/item-1.webp"
                                                alt="Большая Бронная, 25с3">
                                        </a>

                                    </div><!-- objects__item-header -->

                                    <div class="objects__item-body">
                                        <a href="product-card1.html" class="objects__item-title">Большая Бронная,
                                            25с3</a>

                                        <div class="objects__item-params">
                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-metro">
                                                    <use xlink:href="images/sprite.svg#icon-metro"></use>
                                                </svg>
                                                <span>Пушкинская, Тверская, Чеховская</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-foot-time">
                                                    <use xlink:href="images/sprite.svg#icon-foot-time"></use>
                                                </svg>
                                                <span>3 мин</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <svg class="svg-icon icon-size">
                                                    <use xlink:href="images/sprite.svg#icon-size"></use>
                                                </svg>
                                                <span>46,5 м2</span>
                                            </div><!-- objects__item-param -->

                                            <div class="objects__item-param">
                                                <span>Арендатор: THE KAS</span>
                                            </div><!-- objects__item-param -->

                                        </div><!-- objects__item-params -->

                                        <div class="object__item-footer">
                                            <span class="objects__item-price">190 350 000 ₽</span>
                                            <span class="objects__item-month">1 175 000 ₽ / месяц</span>
                                        </div><!-- object__item-footer -->

                                    </div><!-- objects__item-body -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <a href="catalog.html" class="btn btn-light btn-mob">Все предложения</a>
                </div>
            </div>
        </div>

        <section class="filter-map" data-filter-id="map-filter">
            <div class="filter-map__top">
                <a href="#" class="btn btn-primary mobile-block objects__filter-link btn-filter" data-open-filter="map">
                    <span>Фильтр</span>
                    <svg class="svg-icon icon-filter">
                        <use xlink:href="images/sprite.svg#icon-filter"></use>
                    </svg>
                </a>
                <button type="button" class="filter-map__close btn btn-primary">
                    <span>Закрыть</span>
                    <img loading="lazy" src="img/close1.svg" alt="">
                </button>
            </div>
            <div class="main__bottom container">
                <form action=".php" class="filter">

                    <div class="filter-top">
                        <div class="filter-top__title">Фильтр</div>
                        <button type="button" class="filter-top__close">
                            <img loading="lazy" src="img/close1.svg" alt="">
                        </button>
                    </div>

                    <div class="filter-result main-filter-result">
                        <button class="filter-result__reset" type="reset">Очистить все</button>
                        <div class="filter-result__body">
                            <div class="filter-result__column">
                                <span>Местоположение: СЗАО</span>
                                <button type="button" class="filter-result__close">
                                    <img loading="lazy" src="img/close1.svg" alt="">
                                </button>
                            </div>
                            <div class="filter-result__column">
                                <span>Местоположение: СЗАО</span>
                                <button type="button" class="filter-result__close">
                                    <img loading="lazy" src="img/close1.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="filter__main">
                        <div class="filter__types">
                            <label class="filter__type">
                                <input type="radio" name="type1" checked>
                                <span class="filter__type-btn">
                                    <span>Готовый бизнес</span>
                                </span>
                            </label>

                            <label class="filter__type">
                                <input type="radio" name="type1">
                                <span class="filter__type-btn">
                                    <span>Аренда</span>
                                </span>
                            </label>

                            <label class="filter__type">
                                <input type="radio" name="type1">
                                <span class="filter__type-btn">
                                    <span>Продажа</span>
                                </span>
                            </label>

                            <label class="filter__type">
                                <input type="radio" name="type1">
                                <span class="filter__type-btn">
                                    <span>Премиум</span>
                                    <svg class="svg-icon icon-premium">
                                        <use xlink:href="images/sprite.svg#icon-premium"></use>
                                    </svg>
                                </span>
                            </label>

                        </div><!-- filter__types -->



                    </div><!-- filter__main -->

                    <div class="filter__fields">
                        <div class="filter__field">
                            <span class="filter__field-title select-field-title">Местоположение</span>

                            <div class="select">
                                <input type="text" name="place" class="select__field" placeholder="Выбрать">
                                <svg class="svg-icon icon-select-arrow">
                                    <use xlink:href="images/sprite.svg#icon-select-arrow"></use>
                                </svg>
                                <div class="select__list">
                                    <div class="select-top">
                                        <div class="select-top__left">
                                            <div class="select-top__back">
                                                <svg>
                                                    <use xlink:href="images/sprite.svg#icon-select-arrow"></use>
                                                </svg>
                                            </div>
                                            <span>Местоположение</span>
                                        </div>
                                        <button type="button" class="select-top__close">
                                            <img loading="lazy" src="img/close1.svg" alt="">
                                        </button>
                                    </div>
                                    <div class="filter__types">

                                        <label class="filter__type">
                                            <input type="radio" name="type2" value="Округ" checked>
                                            <span class="filter__type-btn">
                                                <span>Округ</span>
                                            </span>
                                        </label>

                                        <label class="filter__type">
                                            <input type="radio" name="type2" value="Метро">
                                            <span class="filter__type-btn">
                                                <span>Метро</span>
                                            </span>
                                        </label>

                                        <label class="filter__type">
                                            <input type="radio" name="type2" value="Улица">
                                            <span class="filter__type-btn">
                                                <span>Улица</span>
                                            </span>
                                        </label>
                                    </div>
                                    <input autocomplete="off" type="text" name="form[]"
                                        placeholder="Введите округ, метро, или улицу" class="select__input">
                                    <div data-simplebar class="select__simplebar">
                                        <div class="select__items">
                                            <span class="select__item">СЗАО</span>
                                            <span class="select__item">ЮВАО</span>
                                            <span class="select__item">ЦАО</span>
                                            <span class="select__item">САО</span>
                                            <span class="select__item">ВАО</span>
                                            <span class="select__item">ЮАО</span>
                                            <span class="select__item">Проспект Мира</span>
                                            <span class="select__item">Улица Ленина</span>
                                            <span class="select__item">м. Парк Культуры</span>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Показать 64 предложения</button>
                                </div>
                            </div><!-- select -->

                        </div><!-- filter__field -->

                        <div class="filter__field">
                            <span class="filter__field-title select-field-title">Тип помещения</span>

                            <div class="select select2">
                                <input type="text" name="place" class="select__field" value="Все">
                                <svg class="svg-icon icon-select-arrow">
                                    <use xlink:href="images/sprite.svg#icon-select-arrow"></use>
                                </svg>
                                <div class="select__list">
                                    <div class="select-top">
                                        <div class="select-top__left">
                                            <div class="select-top__back">
                                                <svg>
                                                    <use xlink:href="images/sprite.svg#icon-select-arrow"></use>
                                                </svg>
                                            </div>
                                            <span>Тип помещения</span>
                                        </div>
                                        <button type="button" class="select-top__close">
                                            <img loading="lazy" src="img/close1.svg" alt="">
                                        </button>
                                    </div>
                                    <div data-simplebar class="select__simplebar">
                                        <div class="select__items">
                                            <label class="checkbox">
                                                <input checked type="checkbox">
                                                <span class="checkbox__btn">
                                                    <svg class="svg-icon icon-check">
                                                        <use xlink:href="images/sprite.svg#icon-check"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__desc">
                                                    Все
                                                </span>

                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span class="checkbox__btn">
                                                    <svg class="svg-icon icon-check">
                                                        <use xlink:href="images/sprite.svg#icon-check"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__desc">
                                                    Торговое помещение
                                                </span>

                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span class="checkbox__btn">
                                                    <svg class="svg-icon icon-check">
                                                        <use xlink:href="images/sprite.svg#icon-check"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__desc">
                                                    Склад
                                                </span>

                                            </label>
                                            <label class="checkbox">
                                                <input type="checkbox">
                                                <span class="checkbox__btn">
                                                    <svg class="svg-icon icon-check">
                                                        <use xlink:href="images/sprite.svg#icon-check"></use>
                                                    </svg>
                                                </span>
                                                <span class="checkbox__desc">
                                                    Офис
                                                </span>

                                            </label>
                                        </div>
                                    </div>
                                    <button type="button" class="btn btn-primary">Показать 64 предложения</button>
                                </div>
                            </div><!-- select -->

                        </div><!-- filter__field -->

                        <div class="filter__field">
                            <span class="filter__field-title">Стоимость, млн ₽</span>

                            <div class="range" data-slider-id="1">
                                <div class="range__field-wrap">
                                    <div class="range__from">
                                        <span class="range__field-title">от</span>
                                        <input type="text" name="priceFrom" class="range__field range__input-min"
                                            value="15" min="15" max="315" maxlength="3">
                                    </div>

                                    <i class="range__colon"></i>

                                    <div class="range__to">
                                        <span class="range__field-title">до</span>
                                        <input type="text" name="priceTo" class="range__field range__input-max"
                                            value="315" min="15" max="315" maxlength="3">
                                    </div>
                                </div>

                                <div class="range__line slider" data-min="15" data-max="315"></div>
                            </div><!-- range -->

                        </div><!-- filter__field -->

                        <div class="filter__field">
                            <span class="filter__field-title">Площадь, м<sup>2</sup></span>

                            <div class="range" data-slider-id="2">
                                <div class="range__field-wrap">
                                    <div class="range__from">
                                        <span class="range__field-title">от</span>
                                        <input type="text" name="sizeFrom" class="range__field range__input-min"
                                            value="7" min="7" max="359" maxlength="3">
                                    </div>

                                    <i class="range__colon"></i>

                                    <div class="range__to">
                                        <span class="range__field-title">до</span>
                                        <input type="text" name="sizeTo" class="range__field range__input-max"
                                            value="359" min="7" max="359" maxlength="3">
                                    </div>
                                </div>

                                <div class="range__line slider" data-min="7" data-max="359"></div>
                            </div><!-- range -->

                        </div><!-- filter__field -->

                    </div><!-- filter__fields -->

                    <button type="button" class="filter__button btn btn-primary">Показать 64 предложения</button>

                </form>
            </div>
            <div id="map2"></div>
        </section>

        <div class="sticky-button">
            <a href="#" class="btn btn-primary">Заявка на просмотр</a>
        </div>

        {% include 'blocks/footer.njk' %}

        {% include 'blocks/mobile-menu.njk' %}

        {% include 'blocks/popups.njk' %}

        {% include 'blocks/search.njk' %}

        {% include 'blocks/menu.njk' %}

    </section><!-- page-wrap -->

    {% include 'blocks/scripts.njk' %}

</body>

</html>