body {
  color: var(--theme-color-text-common);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  .lock & {
    overflow: hidden;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      cursor: pointer;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 40;
      background-color: rgba(8, 30, 22, 0.25);
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

body {
  &::before {
    content: "";
    background: rgba(0, 0, 0, 0.32);
    position: fixed;
    width: 100%;
    height: calc(100% - 103px);
    top: 103px;
    left: 0;
    z-index: 42;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    @media (max-width: 379px) {
      height: calc(100% - 88px);
      top: 88px;
    }
  }
  .filter_open & {
    overflow: hidden;
  }
  .map-open & {
    overflow: hidden;
  }
  .sort-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  @media (max-width: 440px) {
    gap: 5px;
  }
  &.pagination2 {
    .pagination__item {
      background-color: #f8f8f9;
      &_active {
        background-color: #001b3a;
        color: #fff;
      }
    }
    .pagination__item_nav {
      background-color: #fff;
    }
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    width: 46px;
    height: 46px;
    font-weight: 500;
    font-size: 14px;
    color: #001b3a;
    background-color: #fff;
    outline: none;
    @media (max-width: 440px) {
      width: 35px;
      height: 35px;
      font-size: 12px;
    }

    &_active {
      background-color: #001b3a;
      color: #fff;
    }

    &_ellipsis {
      pointer-events: none;
    }

    &_nav {
      background-color: transparent;
      border: 1px solid transparent;
      transition: border 0.3s;
      &:hover {
        border: 1px solid #ccd1d8;
      }
      &-prev {
        transform: rotate(180deg);
        @media (max-width: 768px) {
          margin: 0px 15px 0px 0px;
        }
        @media (max-width: 440px) {
          margin: 0px 0px 0px 0px;
        }
      }
      &-next {
        @media (max-width: 768px) {
          margin: 0px 0px 0px 15px;
        }
        @media (max-width: 440px) {
          margin: 0px 0px 0px 0px;
        }
      }
    }

    &_disabled {
      & svg {
        fill: #82879a;
      }
    }
  }
}

.sticky-button {
  position: fixed;
  bottom: 89px;
  width: 100%;
  background: #fff;
  z-index: 100;
  padding: 20px;
  display: none;
  .btn {
    width: 100%;
  }
  @media (max-width: 992px) {
    display: flex;
  }
}

.custom-marker {
  display: flex;
  align-items: center;
  border-radius: 14px;
  padding: 10px 14px 10px 10px;
  background-color: #fff;
  width: 300px;
  gap: 12px;
  position: relative;
  z-index: 10;
  box-shadow:
    0 1px 3px 0 rgba(69, 81, 95, 0.1),
    0 6px 6px 0 rgba(69, 81, 95, 0.09),
    0 13px 8px 0 rgba(69, 81, 95, 0.05),
    0 23px 9px 0 rgba(69, 81, 95, 0.01),
    0 37px 10px 0 rgba(69, 81, 95, 0);
  @media (max-width: 768px) {
    padding: 10px;
    width: 280px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    transform: translate(-50%, 0px);
    left: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
  }
}
.marker-header {
  display: flex;
  flex: 0 0 64px;
  border-radius: 6px;
  height: 64px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    flex: 0 0 56px;
    height: 56px;
  }
}
.marker-icon {
}
.marker-body {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.marker-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}
.marker-details {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-weight: 500;
  font-size: 12px;
  opacity: 0.8;
}
.marker-area {
  display: flex;
  align-items: center;
  gap: 4px;
  &::before {
    content: "";
    background-image: url("../img/ruler.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 14px;
    height: 14px;
  }
}
.marker-tenant {
}
